/* ctrl; (comentários) */

/************** Tipografia *********/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/************** Reset *********/
:root {
  --cor-primaria: rgb(242, 92, 5);
  --color-texto: rgb(255, 255, 255);
  --cor-orangeL: rgb(254, 248, 230);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************** Body *********/

body {
  width: 100%;
  scroll-behavior: smooth;
  color: white;
  background-image: linear-gradient(var(--l-gradiente, --l-gradiente));
  background-image: linear-gradient(
    180deg,
    #030110 2.6%,
    #050230 23.96%,
    #168ca6 100%
  );
}

/************** Header *********/
/* nav */
header {
  background-color: #010008;
}

.navbar-brand img {
  width: 150px;
}

.nav-signin {
  border: 2px solid var(--cor-primaria);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 25px;
  gap: 10px;
}

.nav-signin a {
  text-decoration: none;
  color: var(--cor-primaria);
}

.nav-signup {
  background-color: var(--cor-primaria);
  border-radius: 20px;
  border: 2px solid var(--cor-primaria);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 25px;
  gap: 10px;
}

.nav-signup a {
  text-decoration: none;
  color: white;
}

/************** Main *********/

.main {
}

/************** section | Banner *********/

.main_banner {
  background-image: url(../images/home/Banner.svg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 250px;
}

/************** section | Search *********/

.main_search {
}

.search_bar {
}

/************** section | About Us *********/

.main_aboutus {
}

.aboutus_image {
}

.image_adventurous {
  border-radius: 10px;
}

.aboutus_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}

.text_button {
  width: 296px;
  height: 48px;
  background-color: var(--cor-primaria);
  border-radius: 20px;
  border: 2px solid var(--cor-primaria);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 25px;
  gap: 10px;
  text-decoration: none;
  color: white;
}

/************** section | Services *********/

.main_services {
  padding: 32px;
}

.services_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 32px;
  gap: 32px;
}

.item i {
  background-color: var(--cor-orangeL);
  border-radius: 50px;
  margin: 20px;
  padding: 20px;
  color: var(--cor-primaria);
  font-size: 32px;
}

/************** section | emphasis *********/

.main_emphasis {
  padding: 32px;
}

.emphasis_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 32px;
  gap: 32px;
}

.emphasis_carousel {
}

/************** section | video *********/

/************** section | Blog *********/

.main_blog {
  padding: 32px;
}

.blog_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 32px;
  gap: 32px;
}

.blog_post {
}

.post_image {
}

.image_landscape {
}

.post_information {
}

.information_title {
}

.information_subtitle {
}

.information_description {
}

.blog_emphasis {
}

.emphasis_title {
}

.emphasis_subtitle {
}

.emphasis_description {
}

/************** Article | Newsletter *********/

.newsletter {
}

.newsletter_image {
}

.image_mailbox {
}

.newsletter_forms {
}

.forms_text {
}

.forms_box {
}

/************** Section | Button Top *********/

.button_top {
}

/************** Footer *********/

.footer {
}

.footer_traveller {
}

.traveller_logo {
}

.traveller_copyright {
}

.footer_topics {
}

/************** Responsive *********/
@media screen {
}
