/* ctrl; (comentários) */

/************** Tipografia *********/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/************** Reset *********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
    color: white;
    background-image:linear-gradient(#050230, #168CA6) ;
}

ul, ol{
    list-style: none;
}

:root{
    --color-primary: #0e0a7e;
    --color-secondary: #f25c05;
    --color-tertiary: #147e95;
    --border-radius: 20px;
    --l-gradiente: rgba(19, 2, 48, 1.0), rgba(22, 140, 165. 1.0);
}

h1{
    font-size: ;
}

h2{
    font-size: ;
}

h3{
    font-size: ;
}

p{
    font-size: ;
}

/************** Body *********/

body{
    background-image: linear-gradient(var(--l-gradiente, --l-gradiente));
}

.header{
    padding: 34px 40px;
} 


.gallery, .information, .comments{
    padding: 0px 40px;
}

.footer{
    padding: 34px 40px;
}

/************** Header *********/

.header{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    width: 192px;
    height: 108px;

}

/* nav */

.menu{
    
}

.menu_navigation{
    display: flex;
}

.menu_navigation ul{
    display: flex;
}

.menu_navigation li{
    margin: 0px 32px;
}

.navigation_item{
    color: white;
    text-decoration: none;
}

.navigation_item:hover{
    color: var(--color-secondary);
}

.menu_login{
    display: flex;
}

.login_signin{
    background-color: transparent;
    color: white;
    padding: 7px;
    margin-right: 8px;
    border-radius: var(--border-radius);
    border: 1px solid white;
    text-decoration: none;
}

.login_signin:hover{
    background-color: white;
    color: black;
}

.login_signup{
    background-color: var(--color-secondary);
    color: white;
    padding: 7px;
    margin-left: 8px;
    border-radius: var(--border-radius);
    text-decoration: none;
}

.login_signup:hover{
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    color: white;
}

/************** Main *********/

/************** Section | Gallery *********/

.gallery{
    width: 100%
}

.gallery_title{
    display: flex;
    justify-content: space-between;
    padding: 84px 0px;
}

.title_local{
   
}

.title_tag{
    display: flex;
}

.tag_star{

}

.tag_local{

}

.tag_save{

}

.tag_star, .tag_local, .tag_save{
    margin: 0px 52px;
}


.gallery_image{
    width: 100px;
    display: flex;
}

.image_paradise{
    width: 50%;
    display: flex;
    padding: 75px;
}

.paradise_full{

}

.paradise_quarter{

}

/************** Section | Information *********/

.information{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information_data{

}

.data_title{

}

.data_subtitle{

}

.data_services{

}

.services_topic{

}

.data_button{

}

.information_maps{

}

/************** Article *********/

.comments{

}

.comments_title{

}

.title_main{

}

.title_secondary{
    
}

.comments_posts{

}

.posts_pub{

}

.pub_perfil{

}

.perfil_image{

}

.image_person{

}

.perfil_data{

}

.pub_text{

}

.comments_button{

}

/************** Aside *********/



/************** Footer *********/

.footer{
    width: 100%;
    background-color:var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: ; */
}

.footer_block{
    width: 33.33%;
    /* padding: ; */
}

.block_logo{

}

.logo_image{

}

.block_info{

}

.block_title{

}

.block_contact{

}

.contact_phone{

}

.contact_email{

}

.block_media{

}

/************** Responsive *********/

